[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ccxt = ">=4.0.0"
pandas = ">=2.0.0"
numpy = ">=1.24.0"
pytz = ">=2023.3"
pyqt6 = ">=6.5.0"
pyqtgraph = ">=0.13.0"
python-telegram-bot = ">=20.0"
feedparser = "*"

[dev-packages]

[requires]
python_version = "3.13"
